[Unit]
Description=Restart the system after power shortages

[Service]
Type=simple
Restart=always
ExecStart=on_ac_power && sudo rtcwake -m no -s 60 || sudo rtcwake -m off -s 60
