[Unit]
Description=Restart the system after power shortages

[Timer]
Unit=keepalive.service
OnBootSec=0
OnCalendar=*-*-* *:00/01:00
Persistent=true

[Install]
WantedBy=timers.target
