# /etc/systemd/system/wmp.service
# This file is part of the WakeMyPotato (WMP) systemd service.
# https://github.com/pablogila/WakeMyPotato

[Unit]
Description=WakeMyPotato: Restart the system after power outages

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/wmp-run 600
